#root,
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  background: linear-gradient(217deg, rgba(1, 18, 32, 0.863), black);
  /* background: linear-gradient(45deg, red, blue); */
  background-position: center;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
